{% extends "base_blog.html" %}

{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/contact-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Email - vaasujindal@cmail.carleton.ca</p>
                <hr>
                <h2>Share Feedback</h2>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send Feedback</button>
                </form>
                {% if success %}
                    <div class="alert alert-success mt-3" role="alert" style="font-size: 1.5rem; font-weight: bold;">
                        Thank you for your feedback!
                    </div>
                {% endif %}
                {% if contact_text %}
                    <div class="mt-3">
                        {{ contact_text.content|safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
